# Bower dependency directory (https://bower.io/)
bower_components/
*.iml

# Node dependency directory (https://www.npmjs.com/)
/node_modules/

# User specific idea files
.idea/workspace.xml
/build/

.idea/
/npm
/app/css/
/app/js/
